PostBundle/PostBundle/Service References/CmsWs/cms1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SearchPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="birthday" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPersonResult" type="tns:ArrayOfPersonResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersonResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonResult" nillable="true" type="tns:PersonResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PeopleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CSZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Birthday" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceAuthHeader" type="tns:ServiceAuthHeader" />
      <s:complexType name="ServiceAuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="RecentBundleList">
        <s:complexType />
      </s:element>
      <s:element name="RecentBundleListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecentBundleListResult" type="tns:ArrayOfBundleResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBundleResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BundleResult" nillable="true" type="tns:BundleResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BundleResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BundleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Fund" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="BundleDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BundleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BundleDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BundleDetailsResult" type="tns:ArrayOfBundleDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBundleDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BundleDetail" nillable="true" type="tns:BundleDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BundleDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PeopleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Fund" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Pledge" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadBundle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BundleId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="a" type="tns:ArrayOfBundleDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBundleResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchPersonSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPerson" />
  </wsdl:message>
  <wsdl:message name="SearchPersonSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPersonResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPersonServiceAuthHeader">
    <wsdl:part name="ServiceAuthHeader" element="tns:ServiceAuthHeader" />
  </wsdl:message>
  <wsdl:message name="RecentBundleListSoapIn">
    <wsdl:part name="parameters" element="tns:RecentBundleList" />
  </wsdl:message>
  <wsdl:message name="RecentBundleListSoapOut">
    <wsdl:part name="parameters" element="tns:RecentBundleListResponse" />
  </wsdl:message>
  <wsdl:message name="RecentBundleListServiceAuthHeader">
    <wsdl:part name="ServiceAuthHeader" element="tns:ServiceAuthHeader" />
  </wsdl:message>
  <wsdl:message name="BundleDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:BundleDetails" />
  </wsdl:message>
  <wsdl:message name="BundleDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:BundleDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="BundleDetailsServiceAuthHeader">
    <wsdl:part name="ServiceAuthHeader" element="tns:ServiceAuthHeader" />
  </wsdl:message>
  <wsdl:message name="UploadBundleSoapIn">
    <wsdl:part name="parameters" element="tns:UploadBundle" />
  </wsdl:message>
  <wsdl:message name="UploadBundleSoapOut">
    <wsdl:part name="parameters" element="tns:UploadBundleResponse" />
  </wsdl:message>
  <wsdl:message name="UploadBundleServiceAuthHeader">
    <wsdl:part name="ServiceAuthHeader" element="tns:ServiceAuthHeader" />
  </wsdl:message>
  <wsdl:portType name="cmsSoap">
    <wsdl:operation name="SearchPerson">
      <wsdl:input message="tns:SearchPersonSoapIn" />
      <wsdl:output message="tns:SearchPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecentBundleList">
      <wsdl:input message="tns:RecentBundleListSoapIn" />
      <wsdl:output message="tns:RecentBundleListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BundleDetails">
      <wsdl:input message="tns:BundleDetailsSoapIn" />
      <wsdl:output message="tns:BundleDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadBundle">
      <wsdl:input message="tns:UploadBundleSoapIn" />
      <wsdl:output message="tns:UploadBundleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="cmsSoap" type="tns:cmsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchPerson">
      <soap:operation soapAction="http://tempuri.org/SearchPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchPersonServiceAuthHeader" part="ServiceAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecentBundleList">
      <soap:operation soapAction="http://tempuri.org/RecentBundleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RecentBundleListServiceAuthHeader" part="ServiceAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BundleDetails">
      <soap:operation soapAction="http://tempuri.org/BundleDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:BundleDetailsServiceAuthHeader" part="ServiceAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBundle">
      <soap:operation soapAction="http://tempuri.org/UploadBundle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UploadBundleServiceAuthHeader" part="ServiceAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="cmsSoap12" type="tns:cmsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchPerson">
      <soap12:operation soapAction="http://tempuri.org/SearchPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchPersonServiceAuthHeader" part="ServiceAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecentBundleList">
      <soap12:operation soapAction="http://tempuri.org/RecentBundleList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RecentBundleListServiceAuthHeader" part="ServiceAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BundleDetails">
      <soap12:operation soapAction="http://tempuri.org/BundleDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:BundleDetailsServiceAuthHeader" part="ServiceAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBundle">
      <soap12:operation soapAction="http://tempuri.org/UploadBundle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UploadBundleServiceAuthHeader" part="ServiceAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="cms">
    <wsdl:port name="cmsSoap" binding="tns:cmsSoap">
      <soap:address location="http://localhost:54428/cms.asmx" />
    </wsdl:port>
    <wsdl:port name="cmsSoap12" binding="tns:cmsSoap12">
      <soap12:address location="http://localhost:54428/cms.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>